.main_container {
  width: 100%;
  margin-top: 70px;
}

.small_container {
  margin: auto;
  width: 70%;
}

.cards_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.title {
  text-align: center;
  border-bottom: 5px solid purple;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}

.toggle_button {
  background-color: orange;
  border-color: orange;
  border-radius: 33px;
  width: 40px;
  height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
