<h1>Hello <%= @user.username %></h1>

<% @user.bookings.each do |booking| %>
<%= booking.status %>
<%= booking.date %>
<% end %>

<% @user.performances.each do |performance| %>
<%= performance.title %>
<% end %>
