.purple-button {
  background-color: $purple;
  border-radius: 35px;
  padding: 4px 16px;
  color: white;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  a {
    text-decoration: none;
    color: white;
  }
  &:hover {
      border: 1px solid $purple;
      background-color: $cream;
      a {
        color: $purple;
      }
    }
}

.center-button {
  text-align: center;
  width: fit-content;
  margin: 16px auto;
}


.delete-button {
  border: 1px solid #DF2E2E;
  border-radius: 35px;
  width: fit-content;
  padding: 4px 16px;
  margin: 16px 0;
  opacity: 0.6 ;
    a {
      color: #DF2E2E;
      &:hover {
        opacity: 1;
        color: #DF2E2E;
      }
    }
    &:hover {
      opacity: 1;
    }
}
