// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "footer";
@import "banner";
@import "card";
@import "map";
@import "button";

.index_container {
  display: flex;
}

.cards {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 70vw;
}
