// navbar

.navbar-lewagon {
  z-index: 100;
  justify-content: space-between;
  background: $purple;
  color: $cream;
  height: 56px;
  position: fixed;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.logo {
  display: flex;
  flex-direction: row;
  color: $cream;
}

.navbar-light .navbar-nav .nav-link {
  color: $cream;
  opacity: 0.75;
  &:hover {
    color: $cream;
    opacity: 1;
  }
}

// #F5E6E0
// SearchBar

.search-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 50vw;
  height: 4rem;
}

.search-bar .btn {
  position: relative;
  left: 62%;
  top: 41%;
  height: 32px;
  width: 38%;
  color: $cream;
  opacity: 0.9;
  background-color: $purple;
  border: 1px solid $cream;
  border-radius: 50px;
  padding: 0;
  &:hover {
      opacity:1;
  }
}

.search-bar .form-control {
    height: 32px;
    width: 50vw;
    // box-shadow: 0 2px 6px rgb(0 0 0 / 8%);
    background-color: $cream;
    border: 1px solid $cream;
    border-radius: 26px;
    position: fixed;
    top: 14px;
}

.search-bar .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}
