.navbar-lewagon {
  justify-content: space-between;
  background: $purple;
  color: $cream;
  height: 56px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.logo {
  display: flex;
  flex-direction: row;
  color: $cream;
}

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.navbar-light .navbar-nav .nav-link {
  color: $cream;
  opacity: 0.75;
  &:hover {
    color: $cream;
    opacity: 1;
  }
}

// #F5E6E0
