.small_card {
  overflow: hidden;
  height: 120px;
  width: 320px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding: 16px;
  margin: 16px;
}

.small_card img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.small_card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.small_card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.row {
  display: flex;
  flex-direction: row;
}

.card-infos {
  padding: 8px;
}

.card-status {
  margin-left: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
