// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "flatpickr/dist/flatpickr.css";


// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/small_card";

h2, h3 {
  font-family: 'Open Sans Condensed', sans-serif;
}

h2 {
  font-size: 40px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: $purple;
  &:hover{
    text-decoration: none;
  }
}
