
<div class="main_container">
  <div class="container">
    <h2 class="text-center"> How was the Show ?</h2>
    <%= simple_form_for review do |f| %>
      <%= f.input :comment %>
      <%= f.input :rating %>
      <%# booking_id? %>
      <div class="btn-center">
        <%= f.button :submit, class: 'purple-button' %>
      </div>
    <% end %>
  </div>
</div>
